<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingredients List</title>
    <!-- Add your stylesheet links here -->
</head>
<body>
    <h1>Ingredients</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>AppUser ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.id}">Ingredient ID</td>
                <td th:text="${ingredient.name}">Ingredient Name</td>
                <td th:text="${ingredient.type}">Ingredient Type</td>
                <td th:text="${ingredient.appUserId}">AppUser ID</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
